:root{
    --branco-principal: #ffffff;
    --cinza-secundaria: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

.container{
    height: 100vh;
}

.principal{
    background: no-repeat url(imgs/Background.png);
    background-size: contain;
}